block vars
  - title = '';
  - subtitle = '';

include ../dfo/mixin

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900%7CPlayfair+Display:400,700,900&amp;display=swap" rel="stylesheet">
    <!--[if !mso]><!-->
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <!--<![endif]-->
    <meta name="format-detection" content="telephone=no">
    title=title
    block style
    style
  body
    span(style="color:#fff;display:none;font-size:0px;height:0px;width:0px")=subtitle
    block main

