.container-fluid(data-copies="")
  .block
    h2.temp-h2.divider#video: span Youtube &amp; Video HTML5
    include video
  .block
    h2.temp-h2.divider#slider: span Slider
    include slider
  .block
    h2.temp-h2.divider#gmap: span Gmap
    include gmap
  .block
    h2.temp-h2.divider#zoomer: span Zoomer
    include zoomer
  .block
    h2.temp-h2.divider#collapse: span Collapse
    include collapse
  .block
    h2.temp-h2.divider#popup: span Popup
    include popup
  .block
    h2.temp-h2.divider#sameheight: span Same Height
    include sameheight
  .block
    h2.temp-h2.divider#scrollbar: span Scrollbar
    include scrollbar
