table.tb-temp.ver-top
  tr
    th: strong Code
    th: strong View
  tr
    td
      strong.red-text Set sameheight for Parents tag [data-parent]
      code.code
        span.tab0 data-sameheight="no4parent"
        span.tab1 data-parent=""
        span.tab2 data-child="#[strong.red-text child name]"
        span.tab1 data-parent=""
        span.tab2 data-child="#[strong.red-text child name]"
    td
      .row(data-sameheight="")
        .col-sm-6
          .bgd-light-grey(data-parent="")
            .bgd-silver(data-child="desc1") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur eum quibusdam minus dolor eaque, nemo dolores illum tempore officia!
            .bgd-dark-grey(data-child="desc2") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel blanditiis eos ut veritatis quam ducimus modi inventore id, dicta ratione nisi, quibusdam dolores voluptate accusamus iusto aspernatur quos a adipisci eveniet incidunt! Temporibus veniam repellendus nesciunt quibusdam maxime nulla deserunt alias magni laborum vero. Maxime at, et deleniti reiciendis adipisci.
            .bgd-red Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel blanditiis eos ut veritatis quam ducimus modi inventore id, dicta ratione nisi, quibusdam dolores voluptate accusamus iusto aspernatur quos a adipisci eveniet incidunt! Temporibus veniam repellendus nesciunt quibusdam maxime nulla deserunt alias magni laborum vero. Maxime at, et deleniti reiciendis adipisci.
        .col-sm-6
          .bgd-light-grey(data-parent="")
            .bgd-silver(data-child="desc1") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel blanditiis eos ut veritatis quam ducimus modi inventore id, dicta ratione nisi, quibusdam dolores voluptate accusamus iusto aspernatur quos a adipisci eveniet incidunt! Temporibus veniam repellendus nesciunt quibusdam maxime nulla deserunt alias magni laborum vero. Maxime at, et deleniti reiciendis adipisci.
            .bgd-dark-grey(data-child="desc2") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur eum quibusdam minus dolor eaque, nemo dolores illum tempore officia!
  tr
    td
      strong.red-text No set sameheight for Parents tag [data-parent]
      code.code
        span.tab0 data-sameheight="no4parent"
        span.tab1 data-parent=""
        span.tab2 data-child="#[strong.red-text child name]"
        span.tab1 data-parent=""
        span.tab2 data-child="#[strong.red-text child name]"
    td
      .row(data-sameheight="no4parent")
        .col-sm-6
          .bgd-light-grey(data-parent="")
            .bgd-silver(data-child="desc1") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur eum quibusdam minus dolor eaque, nemo dolores illum tempore officia!
            .bgd-dark-grey(data-child="desc2") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel blanditiis eos ut veritatis quam ducimus modi inventore id, dicta ratione nisi, quibusdam dolores voluptate accusamus iusto aspernatur quos a adipisci eveniet incidunt! Temporibus veniam repellendus nesciunt quibusdam maxime nulla deserunt alias magni laborum vero. Maxime at, et deleniti reiciendis adipisci.
            .bgd-red Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel blanditiis eos ut veritatis quam ducimus modi inventore id, dicta ratione nisi, quibusdam dolores voluptate accusamus iusto aspernatur quos a adipisci eveniet incidunt! Temporibus veniam repellendus nesciunt quibusdam maxime nulla deserunt alias magni laborum vero. Maxime at, et deleniti reiciendis adipisci.
        .col-sm-6
          .bgd-light-grey(data-parent="")
            .bgd-silver(data-child="desc1") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel blanditiis eos ut veritatis quam ducimus modi inventore id, dicta ratione nisi, quibusdam dolores voluptate accusamus iusto aspernatur quos a adipisci eveniet incidunt! Temporibus veniam repellendus nesciunt quibusdam maxime nulla deserunt alias magni laborum vero. Maxime at, et deleniti reiciendis adipisci.
            .bgd-dark-grey(data-child="desc2") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur eum quibusdam minus dolor eaque, nemo dolores illum tempore officia!