table.tb-temp.ver-top
  tr
    th: strong Code
    th: strong View
  tr
    td
      code.code
        span.tab0 .scroll-wrap(data-scrollbar='{"theme": "dark"}')
        span.tab1 .content
    td
      .scroll-wrap(data-scrollbar='{"theme": "dark"}')
        .content
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eum, voluptas accusantium, illum et excepturi deserunt error similique impedit vero, omnis iure repellat beatae quos eligendi dicta maxime quae facere assumenda veritatis, nam earum! Pariatur facere illo ea earum omnis autem iure distinctio enim cum temporibus ratione, totam beatae, voluptatibus eius provident eaque quibusdam qui sunt voluptatem minima, corporis perferendis quos. Velit veritatis dolor, officia aliquam accusantium est placeat sapiente? Praesentium expedita beatae amet quia nostrum deserunt architecto alias recusandae mollitia, totam repellendus sunt ducimus eum. Rem totam, rerum, voluptatibus veniam iste quo optio. Enim similique, repudiandae sunt, veritatis commodi deleniti quisquam placeat repellendus dolorum itaque molestias laborum porro quos assumenda ab. Commodi animi, sequi ipsam, fuga, maiores iusto eveniet dolorum dolores praesentium, laudantium eius perferendis numquam accusantium blanditiis amet ipsum! Recusandae eos harum accusantium amet excepturi a, veniam, officiis sapiente ab laudantium sit ex reprehenderit. Dolor suscipit et quibusdam dolores atque esse porro modi nemo magnam animi amet voluptatum natus vel voluptate dolorem molestias voluptates, sunt labore autem dolorum at est quasi! Doloremque, explicabo officiis molestias eos quasi dolores, nostrum illo. Laborum expedita sunt nemo delectus consequatur hic? Qui minus iste harum odio. Hic odio qui nulla repellendus consequuntur, impedit harum quas reprehenderit quam natus enim commodi dolorem placeat beatae perferendis ipsum ea optio dolore sed! Vel adipisci, id magnam deserunt voluptatibus, doloremque tempore quo dolores ullam maiores eum, ducimus porro recusandae. Voluptate ipsa magni numquam, similique laborum, voluptatem veniam porro quos inventore sit ducimus nisi alias earum iste ab perspiciatis ipsum! Laborum soluta laudantium beatae exercitationem cumque placeat blanditiis, ut perferendis assumenda! Facilis veniam optio reiciendis nam deserunt asperiores impedit ducimus, dolorum alias repellendus sed cum fuga at ullam voluptatem sapiente esse nemo ex natus sequi, ut nisi qui unde enim perspiciatis. Officiis voluptatem, molestias nam fugiat modi voluptas adipisci consequatur rerum vitae cumque nihil dicta vel ullam corrupti maiores temporibus sunt consectetur soluta dolor aut voluptate, labore praesentium voluptates totam. Quas, corporis quaerat fugit, eligendi impedit ratione assumenda excepturi aliquid tempore quibusdam, sit, facilis inventore voluptas sequi aut! Ipsa in qui iusto eaque, praesentium veritatis sint maiores autem. Assumenda, pariatur et ipsa porro nesciunt quidem aut. Sunt nam quia eligendi asperiores rerum sapiente doloremque quisquam hic tempora, molestias facilis dolorum soluta, earum aspernatur corporis doloribus a laboriosam. Sapiente sequi temporibus molestias veritatis sit harum aliquid ducimus dolorem, sunt voluptates qui vel rem in omnis aperiam voluptas fuga, adipisci, sed quasi officiis placeat voluptatum assumenda ad facilis. Illum adipisci neque voluptates odio labore sapiente officia, eius, accusamus, est, natus dolorum nulla. Debitis porro impedit, officia perferendis possimus numquam recusandae, nesciunt totam est itaque fugiat, similique assumenda, non quae maxime quisquam inventore voluptatem deserunt? Autem non, mollitia odio culpa vitae numquam aliquam amet blanditiis, sunt exercitationem, iusto tenetur doloribus! Voluptatem voluptas a excepturi repellat, repudiandae nemo possimus quos totam dolore similique facere doloribus natus ut unde placeat earum laboriosam laudantium vero et ducimus, eos perferendis! Explicabo nisi quasi, quam reiciendis iusto possimus sint ducimus temporibus suscipit porro odit vero laboriosam voluptas maxime repellat obcaecati esse eveniet, ipsum quaerat, commodi ab quibusdam. Similique sint vel maiores eum consequatur veniam veritatis tenetur ullam consequuntur, a nam beatae ipsa quas tempore inventore enim excepturi nihil doloremque praesentium, modi libero sunt! Eligendi, distinctio nam magni minima necessitatibus id illo? Impedit vel debitis ducimus tempora dignissimos explicabo ex consectetur nesciunt facere distinctio necessitatibus corporis quae neque quia deserunt eos a nihil velit totam sit, sequi praesentium temporibus illo. Veritatis beatae veniam repudiandae doloremque minima voluptatem quos ullam illo, eius vero, quae odio eaque accusantium, obcaecati explicabo. Labore sunt vitae reiciendis, eveniet! Quae tempora architecto impedit nesciunt deserunt facere sed, possimus, ea nobis, vitae quaerat voluptates ad rerum est aspernatur consequatur nulla fugit animi voluptatem provident. Velit excepturi reprehenderit earum pariatur, numquam sit. Iste ipsam quos temporibus nostrum sed repellendus iusto aperiam odio dolorem laboriosam dolorum eos, reiciendis dolor reprehenderit nesciunt quaerat rerum, accusantium, maxime natus explicabo sequi tenetur et. Dignissimos cum et, reiciendis cupiditate, magnam molestias explicabo soluta commodi eaque esse accusantium debitis dolorem aliquid ipsam quibusdam laborum ipsa, praesentium animi non dolor impedit tempora. Provident earum repellendus, natus dolores officiis perferendis iste debitis quod! Possimus tempora asperiores aliquid debitis a dolore repellat, aut iusto, atque, maxime dicta enim odio molestiae officiis commodi unde totam inventore at rem. Fugit quas ullam omnis tempora! Libero molestias, reprehenderit qui voluptatem, magnam beatae et ea non voluptatibus quas deserunt odit accusamus distinctio iusto laborum delectus minima accusantium fugiat laboriosam corporis eaque nulla earum! Deleniti omnis accusantium, mollitia quia id placeat cumque aut et repellat architecto temporibus? Tenetur quibusdam consequatur minus illo vel omnis eum totam repellendus earum, sed perspiciatis assumenda nobis aspernatur asperiores laboriosam optio voluptatem aut. Harum accusamus dolore sed iste quas recusandae quos modi, velit, mollitia nobis laborum repudiandae illo sequi itaque nulla error excepturi rem! Ea illo aliquam sequi natus nam libero non veniam similique explicabo perferendis, excepturi odit quo impedit id, iure! Similique numquam neque nisi molestiae perspiciatis, repellat dolorum omnis eaque commodi sunt, iure explicabo corrupti asperiores fuga saepe ea, ad sequi quasi hic temporibus ex ullam aperiam! Quod nobis impedit enim. Itaque, omnis nisi aliquam recusandae ut hic maiores, unde neque aliquid vel, id. Voluptatum vitae, nemo, similique necessitatibus esse minima quos quisquam id distinctio excepturi libero unde ad rerum fugiat, atque. Reprehenderit explicabo, officiis praesentium facilis sunt culpa ratione nihil tenetur architecto, numquam dolor qui quo commodi nobis blanditiis odio necessitatibus molestiae debitis dicta omnis quae voluptas? Vero optio dolorum similique eos libero nesciunt quae iste voluptatibus mollitia animi, eaque ducimus quia reiciendis natus consequuntur ut repellendus dolore, atque velit eveniet soluta nostrum perferendis obcaecati delectus. Possimus optio eligendi sapiente modi! Minima unde consequatur, sapiente iusto placeat tempore impedit assumenda praesentium inventore cumque suscipit aut, itaque earum illum dolores reprehenderit, maxime maiores voluptas eaque quisquam nulla. Officia aspernatur, minus iste culpa cumque ratione totam amet eos accusamus rem modi sint cum beatae libero ipsam magni, nostrum dolores. Nostrum mollitia, blanditiis aut dignissimos illo, iusto, voluptate adipisci perspiciatis sint nihil voluptates?
  tr
    td
      strong Auto hide scroll bar
      code.code
        span.tab0 .scroll-wrap(data-scrollbar='{"theme": "dark"#[strong , "autoHideScrollbar": true]}')
        span.tab1 .content
    td
      .scroll-wrap(data-scrollbar='{"theme": "dark", "autoHideScrollbar": true}')
        .content.text-hide
          div.thumb: +img-upload('1_s.jpg')
          div.thumb: +img-upload('2_s.jpg')
          div.thumb: +img-upload('3_s.jpg')
          div.thumb: +img-upload('4_s.jpg')
          div.thumb: +img-upload('1_s.jpg')
          div.thumb: +img-upload('2_s.jpg')
          div.thumb: +img-upload('3_s.jpg')
          div.thumb: +img-upload('4_s.jpg')
          div.thumb: +img-upload('1_s.jpg')
          div.thumb: +img-upload('2_s.jpg')
          div.thumb: +img-upload('3_s.jpg')
          div.thumb: +img-upload('4_s.jpg')
          div.thumb: +img-upload('1_s.jpg')
          div.thumb: +img-upload('2_s.jpg')
          div.thumb: +img-upload('3_s.jpg')
          div.thumb: +img-upload('4_s.jpg')
  tr
    td
      strong Show scroll Button &amp; scrollAmount
      code.code
        span.tab0 .scroll-wrap(data-scrollbar='{"theme": "dark"#[strong , "scrollButtons": true, "scrollAmount": 0]}')
        span.tab1 .content
    td
      .scroll-wrap(data-scrollbar='{"theme": "dark", "scrollButtons": true, "scrollAmount": 0}')
        .content.text-hide
          div.thumb: +img-upload('1_s.jpg')
          div.thumb: +img-upload('2_s.jpg')
          div.thumb: +img-upload('3_s.jpg')
          div.thumb: +img-upload('4_s.jpg')
          div.thumb: +img-upload('1_s.jpg')
          div.thumb: +img-upload('2_s.jpg')
          div.thumb: +img-upload('3_s.jpg')
          div.thumb: +img-upload('4_s.jpg')
          div.thumb: +img-upload('1_s.jpg')
          div.thumb: +img-upload('2_s.jpg')
          div.thumb: +img-upload('3_s.jpg')
          div.thumb: +img-upload('4_s.jpg')
          div.thumb: +img-upload('1_s.jpg')
          div.thumb: +img-upload('2_s.jpg')
          div.thumb: +img-upload('3_s.jpg')
          div.thumb: +img-upload('4_s.jpg')
  tr
    td
      strong Horizontal Scroll
      code.code
        span.tab0 .scroll-wrap.horizontal-scroll(data-scrollbar='{"theme": "dark"#[strong , "axis": "x", "autoHorizontal": true], "scrollButtons": true}')
        span.tab1 .content
    td
      .scroll-wrap.horizontal-scroll(data-scrollbar='{"theme": "dark", "axis": "x", "autoHorizontal": true, "scrollButtons": true}')
        .content.text-hide
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
  tr
    td
      strong Horizontal Scroll &amp; scrollAmount
      code.code
        span.tab0 .scroll-wrap.horizontal-scroll(data-scrollbar='{"theme": "dark"#[strong , "axis": "x", "autoHorizontal": true, "scrollAmount": 150], "scrollButtons": true}')
        span.tab1 .content
    td
      .scroll-wrap.horizontal-scroll(data-scrollbar='{"theme": "dark", "axis": "x", "autoHorizontal": true, "scrollAmount": 150, "scrollButtons": true}')
        .content.text-hide
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')
          div.thumb.item: +img-upload('1_s.jpg')
          div.thumb.item: +img-upload('2_s.jpg')
          div.thumb.item: +img-upload('3_s.jpg')
          div.thumb.item: +img-upload('4_s.jpg')














