table.tb-temp.ver-top
  tr
    th: strong View
    th: strong Code
  tr
    td
      .zoom-wrap(data-zoomer='{"zoomId": "zoom1"}')
        img(src="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/small/image2.png" data-zoom-image="http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image2.jpg" alt="alt").zoomer
    td
