/* Begin Fontface */
@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
}
/* End Fontface */
/* Begin Reset */
/* This Reset file's using FONT-SIZE for case DESKTOP FIRST */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
embed,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
output,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
main,
section,
article,
aside,
canvas,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1;
  background-color: #fff;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
main,
section,
article,
aside,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
iframe {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 {
  font-size: 20px;
  font-size: 1.429rem;
}
h2 {
  font-size: 18px;
  font-size: 1.286rem;
}
h3 {
  font-size: 16px;
  font-size: 1.143rem;
}
h4 {
  font-size: 14px;
  font-size: 1rem;
}
h5 {
  font-size: 12px;
  font-size: 0.857rem;
}
h6 {
  font-size: 10px;
  font-size: 0.714rem;
}
@media (max-width: 767px) {
  h1 {
    font-size: 20px;
    font-size: 1.429rem;
  }
  h2 {
    font-size: 18px;
    font-size: 1.286rem;
  }
  h3 {
    font-size: 16px;
    font-size: 1.143rem;
  }
  h4 {
    font-size: 14px;
    font-size: 1rem;
  }
  h5 {
    font-size: 12px;
    font-size: 0.857rem;
  }
  h6 {
    font-size: 10px;
    font-size: 0.714rem;
  }
}
p {
  line-height: 1.429;
  margin-bottom: 20px;
}
p:last-of-type {
  margin-bottom: 0;
}
ol,
ul {
  list-style: none;
}
li {
  line-height: 1.429;
}
.fieldset {
  padding-top: 20px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table,
caption,
tbody,
thead,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td,
th {
  display: table-cell;
  vertical-align: inherit;
}
caption {
  display: table-caption;
  text-align: -webkit-center;
}
b,
strong,
optgroup {
  font-weight: bold;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
mark {
  background-color: #ff0;
  color: #000;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1rem;
}
hr {
  display: block;
  padding: 0;
  margin: 1em 0;
  height: 1px;
  background-color: #ccc;
  border: 0;
}
button,
input,
textarea,
select,
optgroup {
  color: inherit;
  font-family: inherit;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
input,
select {
  vertical-align: middle;
}
select,
input[type="checkbox"] {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.clickable,
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="file"],
input[type="checkbox"] {
  cursor: pointer;
}
.button,
button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  border: none;
  background: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="week"],
input[type="month"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #333;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  color: #333;
  font-size: 14px;
  font-size: 1rem;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.input:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="date"]:-moz-placeholder {
  color: #aaa;
}
.input::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="date"]::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
.input:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder {
  color: #aaa !important;
}
.input::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder {
  color: #aaa;
}
.input::-ms-clear,
input[type="text"]::-ms-clear,
input[type="password"]::-ms-clear,
input[type="email"]::-ms-clear,
input[type="number"]::-ms-clear,
input[type="search"]::-ms-clear,
input[type="tel"]::-ms-clear,
input[type="url"]::-ms-clear,
input[type="week"]::-ms-clear,
input[type="month"]::-ms-clear,
input[type="date"]::-ms-clear {
  display: none;
  /* icon close within input on IE */
}
input[type="password"]::-ms-reveal {
  display: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  /* Removing spin buttons for Number input */
}
input:-webkit-autofill {
  background: papayaWhip;
  color: hotPink;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* icon close within input Search */
}
textarea {
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  overflow: auto;
  font-size: 14px;
  font-size: 1rem;
  color: #333;
  vertical-align: top;
  resize: none;
  border: 1px solid #333;
}
textarea:-moz-placeholder {
  color: #aaa;
}
textarea::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color: #aaa !important;
}
textarea::-webkit-input-placeholder {
  color: #aaa;
}
input[type="range"] {
  display: block;
  width: 100%;
  margin: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
  -webkit-text-fill-color: #333;
}
a {
  text-decoration: none;
  color: #ff0000;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a:hover {
  color: #333;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
}
noscript {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: white;
  background: gray;
}
/* End Reset */
/* Begin Common */
.relative {
  position: relative;
}
.bgd-silver {
  background-color: silver !important;
}
.bgd-light-grey {
  background-color: #f1f1f1 !important;
}
.bgd-dark-grey {
  background-color: #666 !important;
}
.red-text {
  color: red !important;
}
.link {
  position: relative;
  font-size: 20px;
  font-size: 1.429rem;
  text-decoration: underline;
  color: #ff0000;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.link:hover {
  color: #ff0000;
}
.link:hover {
  text-decoration: none;
}
.link i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-38%);
  -moz-transform: translateY(-38%);
  -ms-transform: translateY(-38%);
  -o-transform: translateY(-38%);
  transform: translateY(-38%);
  font-size: .8em;
}
.pagination {
  display: inline-block;
}
.pagination li {
  float: left;
  margin: 0 5px;
  text-align: center;
}
.pagination li.number ul {
  margin: 0 -5px;
}
.pagination li.active a {
  color: #fff;
  background-color: #ccc;
}
.pagination li a {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-size: 1rem;
  color: #333;
  border: 1px solid #666;
  line-height: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pagination li a:hover {
  color: #fff;
  background-color: #c0c0c0;
}
.pagination li a i {
  line-height: 30px;
}
.pagination li.unavailable {
  pointer-events: none;
}
.pagination li.unavailable span {
  line-height: 24px;
}
.pagination .number a span {
  display: none;
}
@media (max-width: 767px) {
  .pagination {
    width: 100%;
  }
  .pagination .prev-page {
    float: left;
  }
  .pagination .next-page {
    float: right;
  }
  .pagination .number {
    display: block;
    float: none;
    overflow: hidden;
  }
  .pagination .number li {
    display: none;
  }
  .pagination .number li.active {
    display: inline-block;
    float: none;
  }
  .pagination .number a span {
    display: inline;
  }
}
.price {
  display: block;
}
.price .new-price,
.price .old-price {
  display: inline-block;
  color: #333;
}
.price .new-price {
  font-weight: bold;
}
.price .old-price {
  color: #999;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs i {
  position: relative;
  top: 2px;
}
.divider {
  position: relative;
  text-align: center;
  overflow: hidden;
  clear: both;
}
.divider span {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.divider span:before,
.divider span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1000px;
  border-top: 1px solid #ddd;
}
.divider span:before {
  right: 100%;
}
.divider span:after {
  left: 100%;
}
.divider span.empty {
  font-size: 0;
  padding: 0;
}
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before,
blockquote:after {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4em;
  line-height: 0;
}
blockquote:before {
  content: open-quote;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  margin-left: 0.15em;
  vertical-align: -0.6em;
}
/* End Common */
/* Begin Keyframes */
/* End Keyframes */
/* Begin Util */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix:before,
.clearfix:after,
.pagination:before,
.pagination:after,
.price:before,
.price:after,
.form-group:before,
.form-group:after {
  display: table;
  content: "";
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-hide {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  border: none;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hidden {
  display: none !important;
}
@media (max-width: 543px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-xl {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}
.hidden-xl-down {
  display: none !important;
}
.hidden-xs-up {
  display: none !important;
}
@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
.visible-print-table {
  display: none !important;
}
@media print {
  .visible-print-table {
    display: table !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/* End Util */
/* Begin Sprite */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-check-outline:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-arrow-thinup:before {
  content: "\f3d7";
}
.icon-arrow-thindown:before {
  content: "\f3d4";
}
.icon-arrow-thinleft:before {
  content: "\f3d5";
}
.icon-arrow-thinright:before {
  content: "\f3d6";
}
.icon-arrow-dropdown:before {
  content: "\f35f";
}
.icon-arrow-dropleft:before {
  content: "\f361";
}
.icon-arrow-dropright:before {
  content: "\f363";
}
.icon-arrow-dropup:before {
  content: "\f365";
}
.icon-arrow-up:before,
.slick-vertical .slick-prev:before {
  content: "\f3d8";
}
.icon-arrow-down:before,
.slick-vertical .slick-next:before {
  content: "\f3d0";
}
.icon-arrow-left:before,
.slick-prev:before,
.fancybox-prev span:before {
  content: "\f3d2";
}
.icon-arrow-right:before,
.slick-next:before,
.fancybox-next span:before {
  content: "\f3d3";
}
.icon-grid:before {
  content: "\f35c";
}
.icon-list:before {
  content: "\f453";
}
.icon-person:before {
  content: "\f47e";
}
.icon-person-outline:before {
  content: "\f47d";
}
.icon-people:before {
  content: "\f47c";
}
.icon-people-outline:before {
  content: "\f47b";
}
.icon-contact:before {
  content: "\f2d8";
}
.icon-contacts:before {
  content: "\f2d9";
}
.icon-bubble:before {
  content: "\f3fc";
}
.icon-bubble-outline:before {
  content: "\f3fb";
}
.icon-heart:before {
  content: "\f388";
}
.icon-heart-outline:before {
  content: "\f387";
}
.icon-earth:before {
  content: "\f38c";
}
.icon-help:before {
  content: "\f446";
}
.icon-help-outline:before {
  content: "\f445";
}
.icon-done:before {
  content: "\f383";
}
.icon-done-all:before {
  content: "\f382";
}
.icon-checkmark:before {
  content: "\f3ff";
}
.icon-checkmark-outline:before {
  content: "\f3fe";
}
.icon-circle:before {
  content: "\f401";
}
.icon-circle-filled:before {
  content: "\f400";
}
.icon-trash:before {
  content: "\f4c5";
}
.icon-trash-outline:before {
  content: "\f4c4";
}
.icon-close:before {
  content: "\f404";
}
.icon-close-solid:before {
  content: "\f406";
}
.icon-close-outline:before,
.fancybox-close:before {
  content: "\f405";
}
.icon-compose:before {
  content: "\f418";
}
.icon-compose-outline:before {
  content: "\f417";
}
.icon-minus:before {
  content: "\f209";
}
.icon-plus:before {
  content: "\f218";
}
.icon-minus-solid:before {
  content: "\f207";
}
.icon-plus-solid:before {
  content: "\f216";
}
.icon-hamburger:before {
  content: "\f20e";
}
.icon-email:before {
  content: "\f423";
}
.icon-email-outline:before {
  content: "\f422";
}
.icon-home:before {
  content: "\f448";
}
.icon-home-outline:before {
  content: "\f447";
}
.icon-information:before {
  content: "\f44d";
}
.icon-informat-outline:before {
  content: "\f44c";
}
.icon-pin:before {
  content: "\f456";
}
.icon-pin-outline:before {
  content: "\f455";
}
.icon-tag:before {
  content: "\f48d";
}
.icon-tag-outline:before {
  content: "\f48c";
}
.icon-tags:before {
  content: "\f48f";
}
.icon-tags-outline:before {
  content: "\f48e";
}
.icon-search-strong:before {
  content: "\f4a4";
}
.icon-search:before {
  content: "\f4a5";
}
.icon-play:before {
  content: "\f488";
}
.icon-play-outline:before {
  content: "\f487";
}
.icon-backward:before {
  content: "\f4ab";
}
.icon-backward-outline:before {
  content: "\f4aa";
}
.icon-forward:before {
  content: "\f4ad";
}
.icon-forward-outline:before {
  content: "\f4ac";
}
.icon-pause:before {
  content: "\f478";
}
.icon-pause-outline:before {
  content: "\f477";
}
.icon-star-outline:before {
  content: "\f4b2";
}
.icon-star-half:before {
  content: "\f4b1";
}
.icon-star:before {
  content: "\f4b3";
}
.icon-telephone:before {
  content: "\f4b9";
}
.icon-telephone-outline:before {
  content: "\f4b8";
}
.icon-printer:before {
  content: "\f491";
}
.icon-printer-outline:before {
  content: "\f490";
}
.icon-share-alt:before {
  content: "\f3ac";
}
.icon-facebook:before {
  content: "\f231";
}
.icon-facebook-outline:before {
  content: "\f230";
}
.icon-googleplus:before {
  content: "\f235";
}
.icon-googleplus-outline:before {
  content: "\f234";
}
.icon-instagram:before {
  content: "\f351";
}
.icon-instagram-outline:before {
  content: "\f350";
}
.icon-pinterest:before {
  content: "\f2b1";
}
.icon-pinterest-outline:before {
  content: "\f2b0";
}
.icon-twitter:before {
  content: "\f243";
}
.icon-twitter-outline:before {
  content: "\f242";
}
.icon-youtube:before {
  content: "\f24d";
}
.icon-youtube-outline:before {
  content: "\f24c";
}
.icon-snapchat:before {
  content: "\f4ec";
}
.icon-snapchat-outline:before {
  content: "\f4eb";
}
.icon-tumblr:before {
  content: "\f241";
}
.icon-tumblr-outline:before {
  content: "\f240";
}
.icon-skype:before {
  content: "\f23f";
}
.icon-skype-outline:before {
  content: "\f23e";
}
/* End Sprite */
/* Begin Form */
label {
  display: block;
}
label.label {
  padding-bottom: 5px;
}
.custom-input {
  position: relative;
}
.custom-input > i {
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.custom-input > i + span input {
  padding-left: 20px;
}
.custom-input button {
  float: right;
  height: 36px;
  min-width: 30px;
  padding: 0 5px;
  border: 1px solid #333;
  border-left: none;
}
.custom-input button i {
  position: relative;
  top: 2px;
}
.custom-input span {
  display: block;
  overflow: hidden;
}
.custom-input input {
  width: 100%;
  height: 36px;
}
.custom-number {
  position: relative;
}
.custom-number [data-increase] {
  position: absolute;
  top: 5px;
  right: 5px;
}
.custom-number [data-decrease] {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.custom-number i {
  font-size: 10px;
  font-size: 0.714rem;
}
@media (min-width: 992px) {
  .custom-number i {
    font-size: 5px;
    font-size: 0.357rem;
  }
}
.custom-date {
  position: relative;
  background-color: #fff;
}
.selected.custom-date {
  background-color: #fff !important;
}
.selected.custom-date span {
  color: #333 !important;
  border-color: #333 !important;
}
.selected.custom-date i {
  color: #333 !important;
}
.custom-date span {
  display: block;
  padding: 10px 20px 10px 10px;
  border: 1px solid #333;
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-date input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.custom-date i {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  font-size: 1.286rem;
  color: #aaa;
}
.custom-select {
  position: relative;
  background-color: #fff;
}
.selected.custom-select {
  background-color: #fff;
}
.selected.custom-select span {
  color: #333;
  border-color: #333;
}
.selected.custom-select i {
  color: #333;
}
.custom-select select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.custom-select span {
  display: block;
  padding: 10px 20px 10px 10px;
  color: #aaa;
  border: 1px solid #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-select i {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 18px;
  font-size: 1.286rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #aaa;
}
.checkbox,
.radio {
  position: relative;
  display: table;
}
.checkbox input,
.radio input {
  position: absolute;
  z-index: 2;
  width: 26px;
  height: 26px;
  opacity: 0;
}
.checkbox input:checked ~ label:before,
.radio input:checked ~ label:before,
.checkbox input:checked ~ a:before,
.radio input:checked ~ a:before {
  background-color: silver;
  border-color: silver;
}
.checkbox input:checked ~ i:before,
.radio input:checked ~ i:before {
  opacity: 1;
}
.checkbox label,
.radio label,
.checkbox > a,
.radio > a {
  position: relative;
  z-index: 3;
  display: table-cell;
  height: 26px;
  padding-left: 36px;
  font-size: 13px;
  font-size: 0.929rem;
  color: #333;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox i,
.radio i {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  font-size: 18px;
  font-size: 1.286rem;
  color: #fff;
  text-align: center;
}
.checkbox i:before,
.radio i:before {
  position: relative;
  top: 4px;
  z-index: 1;
  opacity: 0;
}
.checkbox i:after,
.radio i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c0c0c0;
  border: 1px solid #333;
}
.circle.checkbox i:after,
.circle.radio i:after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.checkbox.center-mode,
.radio.center-mode {
  margin: 0 auto;
}
.checkbox.expanded,
.radio.expanded {
  width: 100%;
}
.checkbox.right input,
.radio.right input {
  right: 0;
}
.checkbox.right label,
.radio.right label,
.checkbox.right > a,
.radio.right > a {
  padding-right: 36px;
  padding-left: 0;
}
.checkbox.right i,
.radio.right i {
  left: auto;
  right: 0;
}
.checkbox.above,
.radio.above,
.checkbox.below,
.radio.below {
  display: inline-block;
}
.checkbox.above label,
.radio.above label,
.checkbox.below label,
.radio.below label,
.checkbox.above > a,
.radio.above > a,
.checkbox.below > a,
.radio.below > a {
  padding: 0;
}
.checkbox.above a ~ i,
.radio.above a ~ i,
.checkbox.below a ~ i,
.radio.below a ~ i {
  z-index: 3;
}
.checkbox.above input,
.radio.above input,
.checkbox.below input,
.radio.below input,
.checkbox.above i,
.radio.above i,
.checkbox.below i,
.radio.below i {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.checkbox.above,
.radio.above {
  padding-top: 36px;
}
.checkbox.below,
.radio.below {
  padding-bottom: 36px;
}
.checkbox.below input,
.radio.below input,
.checkbox.below i,
.radio.below i {
  top: auto;
  bottom: 0;
}
@media (max-width: 543px) {
  .checkbox i,
  .radio i {
    top: 6px;
    left: 6px;
  }
}
.radio-list,
.checkbox-list {
  margin-top: -10px;
}
.radio-list li,
.checkbox-list li {
  padding-top: 10px;
}
.form-group .label01 {
  height: 40px;
  display: table;
}
.form-group .label01 span {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.button {
  padding: 0.7em 1em;
  margin: 0;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1;
  border: 1px solid transparent;
  background: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.button.radius {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.button.expanded {
  width: 100%;
}
.button.btn-primary {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff;
}
.button.btn-primary.tiny {
  font-size: 11px;
  font-size: 0.786rem;
}
.button.btn-primary.small {
  font-size: 13px;
  font-size: 0.929rem;
}
.button.btn-primary.larger {
  font-size: 16px;
  font-size: 1.143rem;
}
.button.btn-primary:hover {
  border-color: #666;
  background-color: #666;
}
.button.btn-secondary {
  border-color: #2199e8;
  background-color: #2199e8;
  color: #fff;
}
.button.btn-secondary.tiny {
  font-size: 11px;
  font-size: 0.786rem;
}
.button.btn-secondary.small {
  font-size: 14px;
  font-size: 1rem;
}
.button.btn-secondary.larger {
  font-size: 16px;
  font-size: 1.143rem;
}
.button.btn-secondary:hover {
  border-color: #666;
  background-color: #666;
}
.button.btn-tertiary {
  border-color: #3adb76;
  background-color: #3adb76;
  color: #fff;
}
.button.btn-tertiary.tiny {
  font-size: 11px;
  font-size: 0.786rem;
}
.button.btn-tertiary.small {
  font-size: 14px;
  font-size: 1rem;
}
.button.btn-tertiary.larger {
  font-size: 16px;
  font-size: 1.143rem;
}
.button.btn-tertiary:hover {
  border-color: #666;
  background-color: #666;
}
.button.btn-disabled {
  cursor: not-allowed;
  pointer-events: none;
  border-color: #bbb;
  background-color: #bbb;
  color: #fff;
}
.button.btn-disabled.tiny {
  font-size: 11px;
  font-size: 0.786rem;
}
.button.btn-disabled.small {
  font-size: 14px;
  font-size: 1rem;
}
.button.btn-disabled.larger {
  font-size: 16px;
  font-size: 1.143rem;
}
.button.hollow {
  background-color: transparent;
}
.button.hollow:hover {
  background-color: transparent;
}
.button.hollow.btn-primary {
  color: #ff0000;
  border-color: #ff0000;
}
.button.hollow.btn-primary:hover {
  color: #666;
  border-color: #666;
}
.button.hollow.btn-secondary {
  color: #2199e8;
  border-color: #2199e8;
}
.button.hollow.btn-secondary:hover {
  color: #666;
  border-color: #666;
}
.button.hollow.btn-tertiary {
  color: #3adb76;
  border-color: #3adb76;
}
.button.hollow.btn-tertiary:hover {
  color: #666;
  border-color: #666;
}
.button.hollow.btn-disabled {
  color: #bbb;
}
@media (max-width: 767px) {
  .button.tiny {
    font-size: 11px;
    font-size: 0.786rem;
  }
  .button.small {
    font-size: 12px;
    font-size: 0.857rem;
  }
  .button.larger {
    font-size: 16px;
    font-size: 1.143rem;
  }
}
.errors label {
  color: #ff0000;
}
.errors p.error {
  display: block;
  padding-top: 3px;
  color: #ff0000;
  font-size: 12px;
  font-size: 0.857rem;
}
.errors input.error,
.errors textarea.error {
  color: #ff0000;
  background-color: #ddd;
}
.errors .custom-select,
.errors .custom-date {
  background-color: #ddd;
}
.errors .custom-select p,
.errors .custom-date p,
.errors .custom-select i,
.errors .custom-date i {
  color: #ff0000;
}
/* End Form */
