/* Begin Structure */
.inputFocusing {
  overflow-x: hidden;
}
.inputFocusing body {
  overflow-x: hidden;
}
main {
  margin: 5px 0;
  padding: 10px;
  min-height: 1000px;
}
footer {
  padding: 10px;
}
/* End Structure */
/* Block */
/* End Block */
/* Begin Text Editor */
/* End Text Editor */
