tr.footer
  td.tdWrap(bgcolor="#d8d8d8" style="padding: 0 35px;")
    +table()
      +spacerHeight(30)
      tr
        td(align="center")
          p.footerText This email was sent to you because you subscribed to our email list. No longer want to receive these emails? Simply click #[a.footerText__link(href="#" target="_blank"): span unsubscribe].
      +spacerHeight(30)
