tr
  td.bgBlock--v0(bgcolor="#17516d" align="center" valign="middle" height="418" background="https://i.gyazo.com/3f2e41013775b586116e42c87ebe3281.jpg" style="height: 418px;")
    <!--[if gte mso 9]>
    <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 600px; height: 418px;" src="https://i.gyazo.com/3f2e41013775b586116e42c87ebe3281.jpg" />
    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block;position: absolute; width: 600px; height: 418px;">
    <v:fill opacity="0%" color="#f7901e" />
    <v:textbox inset="0,0,0,0">
    <![endif]-->
    +table(width="550" style="width: 550px;Margin: 0 auto;")
      +spacerHeight(40)
      tr
        td(align="center" height="40" style="font-size:0;mso-line-height-rule:exactly;")
          <!--[if mso 16]>
          <v:image src="https://i.gyazo.com/becc595c4e736436b5118790bde51fae.png" style="position:relative;top:20;left:200;width:195px;height:40px"></v:image>
          <![endif]-->
          <!--[if !mso 16]><!-- -->
          img.logo(src="https://i.gyazo.com/becc595c4e736436b5118790bde51fae.png" width="195" height="40")
          <!--<![endif]-->
      +spacerHeight(10)
      tr
        td(align="center" style="padding: 0 25px;").tdWrap
          p.bodyText--lead.white THE EASIEST THING ANYONE CAN DO TO SAVE THE PLANET
      +spacerHeight(25)
      tr
        td(valign="middle" align="center").tdWrap
          +table(style="border: 3px solid #ffffff")
            +spacerHeight(25)
            tr
              td(align="center")
                h3.bodyText--h3.margin--b20.white It Has Been Reported That #[br]Americans Throw Away Roughly
                h1.bodyText--h1.margin--b20.white 500 MILLION
                h3.bodyText--h3.white Straws Every Single Day.
            +spacerHeight(25)
      +spacerHeight(25)
    <!--[if gte mso 9]>
    </v:textbox></v:fill></v:rect></v:image>
    <![endif]-->
