tr
  td.bgBlock--v0(colspan="3" bgcolor="#17516d" background="https://i.gyazo.com/3f2e41013775b586116e42c87ebe3281.jpg")
    +table()
      +spacerHeight(40, 3)
      tr
        td(align="center" colspan="3" height="40" style="font-size:0;mso-line-height-rule:exactly;")
          | &nbsp;
          <!--[if mso 16]>
          <v:image src="images/logo.png" style="position:relative;top:20;left:200;width:195px;height:40px"></v:image>
          <![endif]-->
          <!--[if !mso 16]><!-- -->
          img.logo(src="https://i.gyazo.com/becc595c4e736436b5118790bde51fae.png" width="195" height="40")
          <!--<![endif]-->
          | &nbsp;
      +spacerHeight(10, 3)
      tr
        td(align="center" colspan="3" style="padding: 0 15px;")
          p.bodyText--lead.white THE EASIEST THING ANYONE CAN DO TO SAVE THE PLANET
      +spacerHeight(25, 3)
      tr
        +spacerWidth(25)
        td(width="550").tdWrap
          +table(style="border: 3px solid #ffffff")
            +spacerHeight(25, 3)
            tr
              +spacerWidth(10)
              td(align="center")
                h3.bodyText--h3.margin--b20.white It Has Been Reported That #[br]Americans Throw Away Roughly
                h1.bodyText--h1.margin--b20.white 500 MILLION
                h3.bodyText--h3.white Straws Every Single Day.
              +spacerWidth(10)
            +spacerHeight(25, 3)
        +spacerWidth(25)
      +spacerHeight(25, 3)
