tr
  td(bgcolor="#52758f" background="https://i.gyazo.com/8160169998e484013224cce04ebf6714.jpg").bgBlock--v2
    <!--[if gte mso 9]>
    <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 600px; height: 590px;" src="https://i.gyazo.com/8160169998e484013224cce04ebf6714.jpg" />
    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block;position: absolute; width: 600px; height: 590px;">
    <v:fill opacity="0%" color="#f7901e" />
    <v:textbox inset="0,0,0,0">
    <![endif]-->
    +table().cheatRadius
      +spacerHeight(40, 3)
      tr
        +spacerWidth(60)
        td.bgText(bgcolor="#f7f1ea" align="center" width="290" style="padding: 15px; border-radius: 15px;")
          p.bodyText--pro: b Enjoy your favorite beverage worry-free. Protect the planet and yourself by using the safe and reusable alternative to plastic straws.
        +spacerWidth(250)
      +spacerHeight(400, 3)
    <!--[if gte mso 9]>
    </v:textbox></v:fill></v:rect></v:image>
    <![endif]-->
