tr.block-9
  td(bgcolor="#52758f" background="https://i.gyazo.com/183050879ddf16217ed27a54f63752b4.jpg" style="padding: 0 35px;").bgBlock--v1
    +table()
      +spacerHeight(40, 3)
      tr
        +spacerWidth(45)
        td(align="center" width="510").tdWrap
          h2.bgBlock__h2: i Don’t add to a growing environmental problem — become a part of the solution. Eliminate the need for harmful plastic by having your reusable straw at the ready.
        +spacerWidth(45)
      +spacerHeight(40, 3)
