tr
  +spacerWidth(35)
  td.leftSide.tdWrap(align="center" width="530")
    +table()
      tr
        td.leftSide__thumb(width="113"): img(src="https://i.gyazo.com/19fae7536c7473dba421689bbd9563e8.jpg" width="113" height="121" alt="")
        td.leftSide__desc(width="387" align="left")
          h3.bodyText--h3 Reducing the Number of Plastic Straws in the World is a Good Thing for the Planet.
  +spacerWidth(35)
