tr
  td(colspan="3" bgcolor="#d8d8d8")
    +table()
      +spacerHeight(30, 3)
      tr
        +spacerWidth(50)
        td(width="500" align="center").tdWrap
          p.footerText This email was sent to you because you subscribed to our email list. No longer want to receive these emails? Simply click #[a.footerText__link(href="#" target="_blank"): span unsubscribe].
        +spacerWidth(50)
      +spacerHeight(30, 3)
