tr
  +spacerWidth(35)
  td(width="530" align="center" valign="top").tdWrap: p.bodyText These are the same brightly-colored plastic straws typically found littering our streets and parks. Just because something gets tossed into the trash, that doesn’t mean it’s gone for good.
  +spacerWidth(35)
