tr
  td(colspan="3" bgcolor="#52758f" background="https://i.gyazo.com/8160169998e484013224cce04ebf6714.jpg").bgBlock--v2
    +table().cheatRadius
      +spacerHeight(40, 3)
      tr
        +spacerWidth(60)
        td(bgcolor="#f7f1ea" align="center" style="padding: 15px; border-radius: 15px;")
          p.bodyText--pro: b Enjoy your favorite beverage worry-free. Protect the planet and yourself by using the safe and reusable alternative to plastic straws.
        +spacerWidth(250)
      +spacerHeight(400, 3)
