tr.block-6
  td(bgcolor="#fefce6" style="padding: 0 35px;").yellowBlock
    +table()
      +spacerHeight(20)
      tr
        td(align="left").tdWrap
          h3.bodyText--h3.margin--b20 Just Saying “NO” To Straws is Not Always A Practical Solution.
          p.bodyText.margin--b20 There is a growing movement that suggests simply refusing to accept any plastic straw or lid a business provides is the answer. However, this isn’t always practical. Let’s face it, some drinks lend themselves better to using a straw (and/or lid). Plus, you wouldn't take a large drink, put in your cupholder, and trust it not to slosh around while navigating every speed bump and pothole on your commute home, would you?
          p.bodyText.margin--b20 Also, many people have grown accustomed to using straws as part of their everyday routine.
          h3.bodyText--h3.margin--b20.orange: b: i “People with physical disabilities have raised the issue that straws are necessary for them to be able to drink in public. This is a major consideration.”
          p.bodyText.margin--b20 Not only do many people require straws, but they actually prefer them as well.
          p.bodyText Dentists often recommend straws for people who enjoy drinking soft drinks as it limits the amount of time the liquid is in contact with the teeth. And for those with a strong aversion to the possibility of germs, the use of a straw is mandatory.
      +spacerHeight(20)
