tr: td(align="center" style="padding: 0 35px;").tdWrap
  p.bodyText--f20.margin--b20 #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") Click Here] to save up to #[span.red: b 00.00%] and #[b Free Shipping] on two or more #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper] straws before this exclusive special deal ends.
  p.bodyText--f20 #[b TODAY ONLY], bring home the only straw you will ever need… #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper]. Take advantage of this #[b Exclusive "MEGA SALE" Special Savings!]
+spacerHeight(50)
tr: td.tdWrap(align="center" style="padding: 0 35px;"): +mainButton('Hurry! This Deal Won’t Last!')
+spacerHeight(5)
tr: td.tdWrap(align="center" style="padding: 0 35px;")
  p.bodyText--tiny.grey *free shipping with orders of more than 1 unit
