tr.block-3
  td( style="padding: 0 35px;").tdWrap
    +table(style="border: 2px solid #cbcbcb;")
      tr: td(align="center").fullWidthImage--v1: img.fullWidthImage__img(src="https://i.gyazo.com/0487e42a13f3e0dead0a435fc519269e.jpg" width="528" height="247")
      +spacerHeight(20)
      tr
        td(align="left" style="padding: 0 15px;").tdWrap
          p.bodyText.margin--b20 #[b Single-use straws are just one of the many types of plastic products polluting our shorelines and beaches.] An alarming amount of plastic finds its way into our oceans each year, disrupting underwater ecosystems and harming marine life. #[b It’s not a pretty picture.]
          p.bodyText The problem has gotten so serious that cities, such as Seattle, have taken measures to #[b: u.red ban plastic straws altogether].
      +spacerHeight(20)
      tr
        td(align="center"): +mainButton('Get an EZSipper Today!')
      +spacerHeight(20)
