tr.block-10
  td(align="center" style="padding: 0 35px;").tdWrap
    h3.bodyText--h3.margin--b20 This is #[u A LIMITED TIME OFFER]! Move Fast Or You Could Miss This Awesome Deal.

tr.block-10
  td.leftSide.tdWrap( align="center" style="padding: 0 35px;")
    +table()
      tr
        td.leftSide__thumb(width="149"): img(src="https://i.gyazo.com/b2a261089e4e1e13fbf612080239ec0f.png" width="149" height="88" alt="")
        td.leftSide__desc(width="351" align="left")
          p.bodyText.margin--b20 Enjoy your favorite beverage worry-free.
          p.bodyText Protect the planet by using the safe and reusable alternative to plastic straws!
