tr
  td(align="center" valign="top" style="padding: 0 35px;").tdWrap: p.bodyText These are the same brightly-colored plastic straws typically found littering our streets and parks. Just because something gets tossed into the trash, that doesn’t mean it’s gone for good.
