tr
  td(align="center" bgcolor="#52758f" background="https://i.gyazo.com/183050879ddf16217ed27a54f63752b4.jpg" style="padding: 0 35px;").tdWrap.bgBlock--v1
    <!--[if gte mso 9]>
    <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 600px; height: 416px;" src="https://i.gyazo.com/183050879ddf16217ed27a54f63752b4.jpg" />
    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block;position: absolute; width: 600px; height: 416px;">
    <v:fill opacity="0%" color="#f7901e" />
    <v:textbox inset="0,0,0,0">
    <![endif]-->
    +table()
      +spacerHeight(40)
      tr
        td
          h2.bgBlock__h2: i Don’t add to a growing environmental problem — become a part of the solution. Eliminate the need for harmful plastic by having your reusable straw at the ready.
      +spacerHeight(40)
    <!--[if gte mso 9]>
    </v:textbox></v:fill></v:rect></v:image>
    <![endif]-->
