+comment('“A Very Good Solution”', '“My son is 12 years old and will only use this straw. I’ve never seen anyone love a straw more. As someone who cares deeply about the state of the planet, I feel this is a very good solution. No more plastic straws in this household.”', 'Erin Sayers')
+spacerHeight(20)
+comment('“I love it!”', '“I use my EZSipper all the time at the office. I drink a lot of water, and I feel better knowing I have my own straw. It gives me peace of mind, especially during flu season.”', 'Gerald Davis')
+spacerHeight(20)
+comment('“A Very Good Solution”', '“I thought the EZSipper looked cool and ordered one to try out. I ended up buying more for my family, friends, and the occasional cocktail party. Add a touch of elegance to any drink. It’s also good for the planet. What more could you want! I love it!!!”', 'Bryan Glacken')
