tr
  +spacerWidth(35)
  td(align="center" width="530").tdWrap
    p.bodyText--f20.margin--b20 #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") Click Here] to save up to #[span.red: b 00.00%] and #[b Free Shipping] on two or more #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper] straws before this exclusive special deal ends.
    p.bodyText--f20 #[b TODAY ONLY], bring home the only straw you will ever need… #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper]. Take advantage of this #[b Exclusive "MEGA SALE" Special Savings!]
  +spacerWidth(35)
+spacerHeight(50, 3)
tr
  +spacerWidth(35)
  td(align="center"): +mainButton('Hurry! This Deal Won’t Last!')
  +spacerWidth(35)
+spacerHeight(5, 3)
tr
  td(colspan="3" align="center")
    p.bodyText--tiny.grey *free shipping with orders of more than 1 unit
