tr
  +spacerWidth(35)
  td(width="530" align="left").tdWrap
    p.bodyText.margin--b20 However, there have been some growing pains as people’s attitudes change and consumers seek an Earth-friendly alternative.
    p.bodyText.margin--b20 Recently, some businesses have made the switch to paper straws.
    p.bodyText.margin--b20 Not everyone is a fan of the paper straw.
    p.bodyText.margin--b20 People have complained about everything from the feel and taste of the paper straw in their mouths to its lack of durability, often crumbling paper into the drinks we enjoy on a hot summer's day.
    p.bodyText.margin--b20 In some cases, paper straws end up being too thick and cannot be broken down much better than plastic straws, which defeats their entire purpose.
    p.bodyText.margin--b20 Many retailers have picked up the demand for a better solution, selling alternative straws made of everything from glass to bamboo. The only problem with many of these reusable straw products is that cleaning can be an issue.
    p.bodyText And if you have a young family, glass straws are not ideal.
  +spacerWidth(35)
