tr.block-8
  td.block-8.tdWrap(align="left" style="padding: 0 35px;")
    h2.block-8__h2 There IS a Solution to the Straw Issue!
    p.bodyText.margin--b20 #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper] is a reusable, collapsible straw made of antibacterial stainless steel. Environmentally-friendly, portable, and easy to clean, #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper] is the perfect drinking solution for those who prefer or need a straw. Whether at home or in a public setting, #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper] caters to all.
    p.bodyText--small: b &nbsp;&nbsp;&bull; Disassembles for easy cleaning
    p.bodyText--small: b &nbsp;&nbsp;&bull; Durable steel construction
    p.bodyText--small: b &nbsp;&nbsp;&bull; One-way flow valve mouthpiece to prevent dribbles
    p.bodyText--small: b &nbsp;&nbsp;&bull; Includes a convenient straw cleaner and protective carrying case
    p.bodyText--small: b &nbsp;&nbsp;&bull; Non-porous, hygienic, and safe
+spacerHeight(30)

tr.block-8
  td(align="center" style="padding: 0 35px;"): +mainButton('Hurry! This Deal Won’t Last!')
+spacerHeight(30)

tr.block-8
  td.block-8.tdWrap(align="left"  style="padding: 0 35px;")
    p.bodyText.margin--b20 #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper] is the ultimate drinking accessory and the only straw you’ll ever need (although people love having more than one!).
    p.bodyText Making the call to refuse a plastic straw in public is much easier when you have your own ready to go! Be the first on your block to show people how it’s done!
+spacerHeight(30)

tr.block-8
  td.leftSide.tdWrap( align="center" style="padding: 0 35px;")
    +table()
      tr
        td.leftSide__thumb(width="113"): img(src="https://i.gyazo.com/ae94ea37e1a88bce8acb41b3340fc25e.png" width="113" height="121" alt="")
        td.leftSide__desc(width="387" align="left")
          p.bodyText: b #[a.blueLink(href="#" target="_blank"): span: i: font(color="#027ec6") EZSipper’s] sleek design and unique packaging make it the perfect gift for anyone who actively wants to make a difference to save the planet.
+spacerHeight(30)

tr.block-8
  td.block-8.tdWrap(align="left" style="padding: 0 35px;")
    p.bodyText.margin--b20 The stainless-steel construction also makes a unique gift for anyone who appreciates a better tasting beverage. Many prefer having a higher-quality instrument to enjoy their beverage with. A quality straw allows you to savor your drink even more.
    p.bodyText.margin--b20 And it’s not just for adults. #[b Getting the kids to drink their milk gets a whole lot easier] when there is a very cool straw to go along with it.
    p.bodyText.margin--b20 Just like the ever-popular reusable water bottle, #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper] is setting the bar for a new way of thinking.
    p.bodyText.margin--b20: b People seeking a healthy, environmentally-friendly alternative to conventional straws need not look any further!
    p.bodyText #[a.blueLink(href="#" target="_blank"): span: b: i: font(color="#027ec6") EZSipper] is a stylish, sophisticated way to consume the drinks you love. This is the perfect opportunity to change your drinking habits. Make the move to reusable straws today!
