tr
  +spacerWidth(10)
  td.bgBlock(width="610" align="center" background="https://i.gyazo.com/dd97e1d44208c519d8775320c870d082.jpg")
    +ie('<v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border:0;display:inline-block;width:600px;height:200px;" src="https://i.gyazo.com/dd97e1d44208c519d8775320c870d082.jpg"><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="vertical-align:middle;width:600px;height:200px;padding:0px;Margin:0px;text-align:left;display:inline-block;position:absolute;" inset="0,0,0,0"><v:fill opacity="0%" color="#ffffff" /><v:textbox style="v-text-anchor:middle;" inset="0,0,0,0">')
    table(cellpadding="0" cellspacing="0" border="0" valign="center" align="center" width="200")
      +spacerHeight(50, 3)
      tr
        +spacerWidth(2, '#000000')
        td.textCenter
          table(cellpadding="0" cellspacing="0" border="0" width="100%" valign="center" align="center")
            +spacerHeight(2, 1, '#000000')
            +spacerHeight(10)
            tr
              td.primaryButton: a.button(href="#" target="_blank"): span ORDER NOW
            +spacerHeight(10)
            +spacerHeight(2, 1, '#000000')
        +spacerWidth(2, '#000000')
      +spacerHeight(50, 3)
    +ie('</v:textbox></v:rect></v:image>')
  +spacerWidth(10)
+spacerHeight(10, 3)
