extends layouts/edm

block vars
  -title = 'Chinh EDM'
  -subtitle = 'The Text After Title Email'

block style
  link(rel='stylesheet' href='css/email-template.css')

block main
  center.wrapper
    table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%")
      +spacerHeight(5, 1, '#ff0000')
      // Full Line Top
      tr
        td(bgcolor="#e2e2e2")
          .webkit
            +ie('(gte mso 9)|(IE)',
              '<table align="center" cellpadding="0" cellspacing="0" border="0" width="634"><tr><td>')
            table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%" class="tbOuter")
              +spacerHeight(10, 3)
              // Margin Top

              +spacerHeight(2, 3, '#663399')
              // Border Top

              tr
                +spacerWidth(2, '#663399')
                // Border Left

                td.mainWrapper(bgcolor="#ffffff")
                  +ie('(gte mso 9)|(IE)',
                    '<table align="center" cellpadding="0" cellspacing="0" border="0" width="630"><tr><td>')
                  table.tbWap(align="center" cellpadding="0" cellspacing="0" border="0" width="100%")
                    +spacerHeight(10, 3)
                    // Padding Top
                    include mail/header
                    +spacerHeight(5, 3)
                    // Padding Bottom Header
                    include mail/banner
                    // Banner
                    +spacerHeight(10, 3)
                    // Padding Bottom Full Width Image
                    include mail/two-columns
                    // Two columns
                    include mail/three-columns
                    // Three columns
                    include mail/left-side
                    // Left Side
                  +ie('(gte mso 9)|(IE)', '</td></tr></table>')
                // Wrap

                +spacerWidth(2, '#663399')
                // Border Right
              // Main Container

              +spacerHeight(2, 3, '#663399')
              // Border Bottom

              +spacerHeight(10, 3, '#e2e2e2')
              // Margin Bottom
            +ie('(gte mso 9)|(IE)', '</td></tr></table>')
      +spacerHeight(5, 1, '#ff0000')
      // Full Line Bottom
