extends layouts/edm

block vars
  - title = 'Long Version';
  - subtitle = 'Pre Header Text';

block style
  link(rel='stylesheet' href='css/long-version.css')
  link(rel='stylesheet' href='css/long-version-1.css')
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet")

block main
  center.wraper
    table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%")
      tr
        td(bgcolor="#f5f5f5")
          .webkit
            +ie('<table align="center" cellpadding="0" cellspacing="0" border="0" width="600"><tr><td>')
            table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%" class="tbOuter" bgcolor="#ffffff")
              include dfo/long-block-1
              +spacerHeight(30, 3)
              //- include dfo/long-block-2
              //- +spacerHeight(30, 3)
              //- include dfo/long-block-3
              //- +spacerHeight(50, 3)
              //- include dfo/long-block-4
              //- +spacerHeight(20, 3)
              //- include dfo/long-block-5
              //- +spacerHeight(50, 3)
              //- include dfo/long-block-6
              //- +spacerHeight(50, 3)
              //- include dfo/long-block-7
              //- +spacerHeight(20, 3)
              //- include dfo/long-block-8
              //- +spacerHeight(50, 3)
              //- include dfo/long-block-9
              //- +spacerHeight(50, 3)
              //- include dfo/long-block-10
              //- +spacerHeight(30, 3)
              //- include dfo/long-block-feedback
              //- +spacerHeight(50, 3)
              //- include dfo/long-block-11
              //- +spacerHeight(30, 3)
              //- include dfo/long-block-12
              //- +spacerHeight(50, 3)
              include dfo/long-block-footer
              +spacerHeight(40, 3, '#f5f5f5')
            +ie('</td></tr></table>')
