extends layouts/template

block vars
  -title = 'Guide js'
  -bodyClass = 'template'

block slideMenu
  .navigation
    .inner
      ul.nav(data-collapse="")
        +items([
          {title: 'Breakpoint'},
          {title: 'Grid'},
          {title: 'Basic Colors'},
          {title: 'Color Variables'},
          {title: 'Background Classes'},
          {title: 'Fonts'},
          {title: 'Icons'},
          {title: 'Utilities Class'},
          {title: 'Media Queries', href: '#!', text: 'Media Queries<i class="icon-plus"></i><i class="icon-minus"></i>',
            subList: [
              {title: 'Mobile First'},
              {title: 'Dekstop First'}
            ],
            subClass: 'sub-nav'
          },
          {title: 'Utilities Block', href: '#!', text: 'Utilities Block<i class="icon-plus"></i><i class="icon-minus"></i>',
            subList: [
              {title: 'Heading'},
              {title: 'Link & Text'},
              {title: 'Breadcrumbs'},
              {title: 'Price'},
              {title: 'Image'},
              {title: 'Pagination'},
              {title: 'Divider'},
              {title: 'Blockquote'},
              {title: 'Useful Tag'},
              {title: 'Menu'}
            ],
            subClass: 'sub-nav'
          },
          {title: 'Form Element', href: '#!', text: 'Form Element<i class="icon-plus"></i><i class="icon-minus"></i>',
            subList: [
              {title: 'Form'},
              {title: 'Label'},
              {title: 'Textarea'},
              {title: 'Input'},
              {title: 'Custom Input'},
              {title: 'Custom Select'},
              {title: 'Custom Link Checkbox'},
              {title: 'Custom Checkbox'},
              {title: 'Custom Checkbox List'},
              {title: 'Custom Radio'},
              {title: 'Custom Radio List'},
              {title: 'Button'}
            ],
            subClass: 'sub-nav'
          },
          {title: 'CSS Mixin', href: '#!', text: 'CSS Mixin<i class="icon-plus"></i><i class="icon-minus"></i>',
            subList: [
              {title: 'Position'},
              {title: 'Triangle'}
            ],
            subClass: 'sub-nav'
          },
          {title: 'JS', href: '#!', text: 'JS<i class="icon-plus"></i><i class="icon-minus"></i>',
            subList: [
              {title: 'Collapse'}
            ],
            subClass: 'sub-nav'
          }
        ])
  .right-navigation
    .head-nav
      +form({id: 'search_form'})(data-validates="search_form")
        +customInput({id: 'search_btn_22', iconClass: 'icon-search'}, {id: "txt_search_22", placeholder: "Search for ..."})
    .inner
      ul.search-results
        +items([
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'},
          {title: 'Suggest Result', href: '/style-guide.html'}
        ])
block main
  .tmp-main
    include ./guide/js/master
block menu
  .tmp-main-nav-wrap
    .tmp-main-nav
      ul
        +items-1([
          {title: 'Video', href: '#video'},
          {title: 'Slider', href: '#slider'},
          {title: 'Gmap', href: '#gmap'},
          {title: 'Zoomer', href: '#zoomer'},
          {title: 'Collapse', href: '#collapse'},
          {title: 'Popup', href: '#popup'},
          {title: 'Sameheight', href: '#sameheight'},
          {title: 'Scrollbar', href: '#scrollbar'}
        ])
        li: +link('Style Guide', 'temp-style-guide.html').outlink
        li: +link('Style Sprite', 'temp-sprite.html').outlink
        li: +link('Images', 'images.html').outlink
