extends layouts/template

block vars
  -title = 'Flexbox'
  -bodyClass = 'flexbox'

block main
  main
    .container
      .temp-flex
        .row
          .flex-display.c5-column
            .item: .content content 1
            .item: .content content 2 #[br] content 2
            .item: .content content 3
            .item: .content content 4
          +divider().empty
          .flex-display.c5-column
            .item: .content content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1 content 1
            .item.item2x: .content content 2 #[br] content 2
            .item: .content content 3
            .item: .content content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4 content 4
            .item: .content content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5 content 5
            .item: .content content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6 content 6
