tr
  +spacerWidth(10)
  td.textCenter.fullWidthImage: img(src="http://tutsplus.github.io/creating-a-future-proof-responsive-email-without-media-queries/images/header.jpg" width="610" height="200" alt="Banner")
  +spacerWidth(10)
