tr
  td.textCenter.header(colspan="3")
    +ie('(gte mso 9)|(IE)',
      '<table align="center" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td width="248" valign="top">')
    .column.left
      table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%")
        tr
          +spacerWidth(10)
          // Padding Left
          td.wrap: img(src="https://i.gyazo.com/76927ab0e24634def340f781a51f1355.png" width="228" height="32" alt="")
          +spacerWidth(10)
          // Padding Left
        +spacerHeight(5, 3)
        // Padding Bottom
    +ie('(gte mso 9)|(IE)', '</td><td width="182">')
    .column.center
      table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%")
        .spacerHeight(5)
        // Padding Bottom
    +ie('(gte mso 9)|(IE)', '</td><td width="200">')
    .column.right
      table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%")
        tr
          +spacerWidth(10)
          // Padding Left
          td.wrap
            table(align="center" border="0" cellpadding="0" cellspacing="0")
              tr
                td(align="center" valign="top")
                  a(target="_blank" title="Facebook" href="https://www.facebook.com/chinhphan099")
                    img(src="https://i.gyazo.com/76faa1573f2d6a9e51c490963a54e89b.png" alt="" height="43" width="43")
                td(align="center" valign="top")
                  a(target="_blank" title="Facebook" href="https://www.facebook.com/chinhphan099")
                    img(src="https://i.gyazo.com/76faa1573f2d6a9e51c490963a54e89b.png" alt="" height="43" width="43")
                td(align="center" valign="top")
                  a(target="_blank" title="Facebook" href="https://www.facebook.com/chinhphan099")
                    img(src="https://i.gyazo.com/76faa1573f2d6a9e51c490963a54e89b.png" alt="" height="43" width="43")
                td(align="center" valign="top")
                  a(target="_blank" title="Facebook" href="https://www.facebook.com/chinhphan099")
                    img(src="https://i.gyazo.com/76faa1573f2d6a9e51c490963a54e89b.png" alt="" height="43" width="43")
          +spacerWidth(10)
          // Padding Left
        +spacerHeight(5, 3)
        // Padding Bottom
    +ie('(gte mso 9)|(IE)', '</td></tr></table>')
