tr
  td.textCenter.leftSide(colspan="3")
    <!--[if (gte mso 9)|(IE)]>
    <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
    <td width="100">
    <![endif]--><div class="column left">
      table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%")
        tr
          +spacerWidth(10)
          // Padding Left
          td.wrap
            img(src="http://tutsplus.github.io/creating-a-future-proof-responsive-email-without-media-queries/images/sidebar-01.jpg" width="80" height="80" alt="")
          +spacerWidth(10)
          // Padding Right
        +spacerHeight(10, 3)
        // Padding Bottom
    </div><!--[if (gte mso 9)|(IE)]>
    </td><td width="530">
    <![endif]--><div class="column right">
      table(align="center" cellpadding="0" cellspacing="0" border="0" width="100%")
        tr
          +spacerWidth(10)
          // Padding Left
          td.wrap
            p.text Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat. <a href="#" title="Read on"><span>Read on</span></a> Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
          +spacerWidth(10)
          // Padding Right
        +spacerHeight(10, 3)
        // Padding Bottom
    </div><!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
