table.tb-temp
  thead
    tr
      td: strong Code
      td: strong View
  tbody
    tr(data-handler="")
      td
        code.highlight
          span(data-copy="") blockquote TextHere
      td
        blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consectetur, dignissimos esse, cum natus laborum facere! Tempora incidunt eos suscipit quidem, dolores eum culpa placeat maiores assumenda autem dicta velit dignissimos modi ipsa laborum temporibus recusandae distinctio, error consequatur soluta totam eius quae voluptate. Id quibusdam consequuntur sequi amet cumque.