table.tb-temp
  thead
    tr
      td: strong Class Name
      td: strong View
  tbody
    tr(data-handler="")
      td: code.highlight(data-copy="") .heading-1
      td: h1.heading-1 Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code.highlight(data-copy="") .heading-2
      td: h2.heading-2 Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code.highlight(data-copy="") .heading-3
      td: h3.heading-3 Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code.highlight(data-copy="") .heading-4
      td: h4.heading-4 Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code.highlight(data-copy="") .heading-5
      td: h5.heading-5 Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code.highlight(data-copy="") .heading-6
      td: h6.heading-6 Lorem ipsum dolor sit amet.
