.container-fluid(data-copies="")
  .block
    h2.temp-h2.divider#image: span Image
    include image
  .block
    h2.temp-h2.divider#heading: span Heading
    include heading
  .block
    h2.temp-h2.divider#link-text: span Link &amp; Text
    include link-text
  .block
    h2.temp-h2.divider#breadcrumbs: span Breadcrumbs
    include breadcrumbs
  .block
    h2.temp-h2.divider#price: span Price
    include price
  .block
    h2.temp-h2.divider#divider: span Divider
    include divider
  .block
    h2.temp-h2.divider#blockquote: span Blockquote
    include blockquote
  .block
    h2.temp-h2.divider#useful-tag: span Useful Tag
    include tags
  .block
    h2.temp-h2.divider#menu: span Menu
    include menu
  .block
    h2.temp-h2.divider#pagination: span Pagination
    include pagination
