table.tb-temp
  thead
    tr
      td: strong Mixin
      td: strong View
  tbody
    tr(data-handler="")
      td
        code.highlight
          span(data-copy="") +pagination()
      td
        +pagination()